<!-- <movie-search></movie-search> -->
<!-- <favorite
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite> -->

<!-- <bootstrap-panel>
  <ng-container class="heading">Header</ng-container>
  <div class="body">
    <h1>Body</h1>
    <p>My body is here</p>
  </div>
</bootstrap-panel>

<course></course> -->
<!-- <mat-toolbar color="primary"> <span>Ristorante Con Fusion</span> </mat-toolbar> -->

 <!-- <like
    [likesCount]="tweet.likesCount"
    [isActive]='tweet.isLiked'>
  </like> -->

  <!-- <input type="text" appInputFormat [format]="'uppenmrcase'" /> -->

<!-- ------------------------------------------------------------ NGIF ---------------------------------------------- -->

<!-- <div *ngIf="courses.length > 0; then shipping else billing"></div>
<ng-template #shipping>
  <zippy  title="Shipping Details">
    Shipping Details Content
  </zippy>
</ng-template>

<ng-template #billing>
  <zippy  title="Billing Details">
    Billing Details Content
  </zippy>
</ng-template> -->


<!------------------------------------------------------- NGSWITCHCASE -------------------------------------------------
<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'" href="#">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'" href="#">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>otherwise</div>
</div> -->

<!-- ---------------------------------------------NGFOR ------------------------------------------------------------ -->

<!-- <button (click)="onAdd()">Add Course</button>
<button (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of myCourses; index as i, even as isEven, trackBy: trackCourse">
    {{ i }} - {{ course.name }} <span *ngIf="isEven"> (even) </span>
  </li>
</ul> -->

<!-- ---------------safe traversal operator------------------
<br />
<span>{{ task.assignee?.name }}</span> -->

<!-- <contact-form></contact-form> -->
<!-- <create-course></create-course> -->
<!-- <signup-form></signup-form> -->
<!-- <new-course></new-course> -->
<!-- <change-password></change-password> -->
<app-posts></app-posts>