<!-- <movie-search></movie-search> -->
<!-- <favorite
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite> -->

<!-- <bootstrap-panel>
  <ng-container class="heading">Header</ng-container>
  <div class="body">
    <h1>Body</h1>
    <p>My body is here</p>
  </div>
</bootstrap-panel>

<!-- <course></course> -->
<!-- <mat-toolbar color="primary"> <span>Ristorante Con Fusion</span> </mat-toolbar> -->

 <!-- <like
    [likesCount]="tweet.likesCount"
    [isActive]='tweet.isLiked'>
  </like> -->

  <!-- <input type="text" appInputFormat [format]="'uppenmrcase'" /> -->


<div *ngIf="courses.length > 0; then shipping else billing"></div>
<ng-template #shipping>
  <zippy  title="Shipping Details">
    Shipping Details Content
  </zippy>
</ng-template>

<ng-template #billing>
  <zippy  title="Billing Details">
    Billing Details Content
  </zippy>
</ng-template>
